<section>
  <h2><%= title %></h2>

  <form id="new-category-form" 
    action=<%=locals.fieldValues ? `/category/edit/${fieldValues.id}` : "/new/category" %> 
    method="POST"
  >
    <p>
      <label for="category-name">Category Name: </label>
      <% if (locals.errors && erros.categoryName) { %>
        <label for="category-name"><%= errors.categoryName %></label>
      <% };%>
      <input type="text" id="category-name" name="categoryName" value="<%= locals.fieldValues ? fieldValues.name : '' %>" placeholder="Rockstar Games ..." required />
    </p>
    <p>
      <label for="category-icon-url">Category Icon Url: </label>
      <% if (locals.errors && erros.categoryIconUrl) { %>
        <label for="category-icon-url"><%= errors.categoryIconUrl %></label>
      <% };%>
      <input type="text" id="category-icon-url" name="categoryIconUrl" value="<%= locals.fieldValues ? fieldValues.icon_url : '' %>" placeholder="https://imghost.com/icon.png ..." />
    </p>
    <button type="submit"><%= locals.fieldValues ? "Done" : "Add Category"%></button>
  </form>
</section>
