<section class="add-category">
  <h2 class="add-category__title"><%= title %></h2>

  <form id="new-category-form" 
    action="<%=locals.fieldValues ? `/category/edit/${fieldValues.id}` : '/new/category' %>"
    method="POST"
    class="form"
  >
    <p>
      <label for="category-name">Category Name: </label>
      <% if (locals.errors && errors.categoryName) { %>
        <label for="category-name" class="error-msg"><%= errors.categoryName %></label>
      <% };%>
      <input 
        type="text" 
        id="category-name" 
        name="categoryName" 
        value="<%= locals.fieldValues ? fieldValues.name : '' %>" 
        placeholder="Action..."
        required
        class="<%= locals.errors && errors.categoryName ? 'error' : ''; %>"
      />
    </p>
    <p>
      <label for="category-icon-url">Category Icon Url: </label>
      <% if (locals.errors && errors.categoryIconUrl) { %>
        <label for="category-icon-url" class="error-msg"><%= errors.categoryIconUrl %></label>
      <% };%>
      <input
        type="text" 
        id="category-icon-url" 
        name="categoryIconUrl" 
        value="<%= locals.fieldValues ? fieldValues.icon_url : '' %>" 
        placeholder="https://imghost.com/icon.png ..." 
        class="<%= locals.errors && errors.categoryIconUrl ? 'error' : ''; %>"
      />
    </p>
    <button class="form__btn-submit" type="submit">
      <%= locals.fieldValues ? "Done" : "Add Category"%>
    </button>
  </form>
</section>
