<section class="add-developer">
  <h2 class="add-developer__title"><%= title %></h2>

  <form id="new-developer-form"
    action="<%= locals.developer ? `/developer/edit/${developer.id}` : '/new/developer' %>"
    method="POST"
    class="form"
  >
    <p>
      <label for="developer-name">Developer Name: </label>
      <% if (locals.errors && errors.developerName) { %>
        <label for="developer-name"><%= errors.developerName %></label>
      <% };%>
      <input 
        type="text" 
        id="devevloper-name"
        name="developerName" 
        placeholder="Rockstar Games ..." 
        value="<%= locals.developer && developer.name ? developer.name : '' %>"
        required 
        class="<%= locals.errors && errors.developerName ? 'error' : ''; %>"
      />
    </p>
    <p>
      <label for="developer-logo-url">Logo Url: </label>
      <% if (locals.errors && errors.developerLogoUrl) { %>
        <label for="developer-logo-url"><%= errors.developerLogoUrl %></label>
      <% };%>
      <input 
        type="text" 
        id="developer-logo-url" 
        name="developerLogoUrl" 
        placeholder="https://imghost.com/dev-logo.jpg ..." 
        value="<%= locals.developer && developer.logo_url ? developer.logo_url : '' %>"
        class="<%= locals.errors && errors.developerLogoUrl ? 'error' : ''; %>"
      />
    </p>
    <p>
      <label for="developer-coverimg-url">Cover Image Url</label>
      <% if (locals.errors && errors.developerCoverImgUrl) { %>
        <label for="developer-coverimg-url"><%= errors.developerCoverImgUrl %></label>
      <% };%>
      <input 
        type="text" 
        id="developer-coverimg-url" 
        name="developerCoverImgUrl" 
        value="<%= locals.developer && developer.coverimg_url ? developer.coverimg_url : '' %>"
        placeholder="https://imghost.com/dev-cover.jpg ..."
        class="<%= locals.errors && errors.developerCoverImgUrl ? 'error' : ''; %>"
      />
    </p>
    <p>
      <label for="developer-details">Details: </label>
      <% if (locals.errors && errors.developerDetails) { %>
        <label for="developer-details"><%= errors.developerDetails %></label>
      <% };%>
      <textarea 
        id="developer-details"
        name="developerDetails"
        placeholder="We are the best AAA game developer in the world! ..."
        class="<%= locals.errors && errors.developerDetails ? 'error' : ''; %>"
      ><%= locals.developer && developer.details ? developer.details : '' %></textarea>
    </p>
    <button type="submit" class="form__btn-submit"><%= locals.developer ? "Done" : "Add Developer" %></button>
  </form>
</section>
