<section class="add-game">
  <h2 class="add-game__title">Add New Game</h2>
  <form 
    id="new-game-form"
    class="form"
    method="POST"
    action="<%= locals.fieldValues ? `/game/edit/${fieldValues.game.id}` : '/new/game' %>" 
  >
    <p>
      <label for="game-name">Name: </label>
      <% if (locals.errors && errors.gameName) { %>
        <label for="game-name" class="error-msg">Error: <%= errors.gameName %></label>
      <% }; %>
      <input 
        type="text"
        id="game-name"
        name="gameName"
        placeholder="Grand Theft Auto VI ..."
        value="<%= locals.fieldValues ? fieldValues.game.name : ''; %>"
        class="<%= locals.errors && errors.gameName ? 'error' : ''; %>"
        required
      />
    </p>
    <p>
      <label for="game-logo-url">Logo Url: </label>
      <% if (locals.errors && errors.gameLogoUrl) { %>
        <label for="game-logo-url" class="error-msg">Error: <%= errors.gameLogoUrl %></label>
      <% }; %>
      <input 
        type="text" 
        id="game-logo-url"
        name="gameLogoUrl" 
        placeholder="https://imghost.com/game-logo.jpg ..." 
        value="<%= locals.fieldValues ? fieldValues.game.logo_url : ''; %>"
        class="<%= locals.errors && errors.gameLogoUrl ? 'error' : ''; %>"
        required 
      />
    </p>
    <p>
      <label for="game-coverimg-url">Cover Image Url: </label>
      <% if (locals.errors && errors.gameCoverImgUrl) { %>
        <label for="game-coverimg-url" class="error-msg">Error: <%= errors.gameCoverImgUrl %></label>
      <% }; %>
      <input type="text" 
        id="game-coverimg-url"
        name="gameCoverImgUrl"
        placeholder="https://imghost.com/game-cover.jpg ..."
        value="<%= locals.fieldValues ? fieldValues.game.coverimg_url : ''; %>"
        class="<%= locals.errors && errors.gameCoverImgUrl ? 'error' : ''; %>"
        required
      />
    </p>
    <p id="developers-input-wrapper">
      <label for="game-developers">Developers : (Can't find one? Register a new one <a href="/new/developer">here.</a>)</label>
      <% if (locals.errors && errors.gameDevelopers) { %>
        <label for="game-developers" class="error-msg">Error: <%= errors.gameDevelopers %></label>
      <% }; %>
      <select id="game-developers"
        name="gameDevelopers"
        class="<%= locals.errors && errors.gameDevelopers ? 'error' : ''; %>"
        multiple
        required
      >
        <% if (locals.developers && developers.length > 0) { %>
          <option value="" disabled>-- 'CTRL/CMD + Click' to select multiple --</option>
          <% developers.forEach((developer) => { %>
            <option 
              value="<%= developer.id %>"
              <% if (locals.fieldValues && fieldValues.selectedDevelopers.find((prevDev) => prevDev.id === developer.id)) { %>
                selected
              <% };%>
            >
              <%= developer.name %>
            </option>
          <% }); %>
        <% } else { %>
          <option value="" disabled>no developer found</option>
        <% }; %>
      </select>
    </p>
    <p>
      <label for="game-categories">Categories: (Of different category? Create a new one <a href="/new/category">here.</a>)</label>
      <% if (locals.errors && errors.gameCategories) { %>
        <label for="game-categories" class="error-msg">Error: <%= errors.gameCategories %></label>
      <% }; %>
      <select id="game-categories"
        name="gameCategories"
        class="<%= locals.errors && errors.gameCategories ? 'error' : ''; %>"
        multiple
        required
      >
        <% if (locals.categories && categories.length > 0) { %>
          <option value="" disabled>-- 'CTRL/CMD + Click' to select multiple --</option>
          <% categories.forEach((category) => { %>
            <option 
              value="<%= category.id %>"
              <% if (locals.fieldValues && fieldValues.selectedCategories.find((prevCategory) => prevCategory.id === category.id)) { %>
                selected
              <% };%>
            >
              <%= category.name %>
            </option>
          <% }); %>
        <% } else { %>
          <option value="" disabled>no category found</option>
        <% }; %>
      </select>
    </p>
    <!-- <p> -->
    <!--   <label for="game-platforms">Platforms (separated by commas): </label> -->
    <!--   <input type="text" id="game-platforms" name="gamePlatforms" placeholder="PC, Console, Android ..." required> -->
    <!-- </p> -->
    <p>
      <label for="game-details">Details :</label>
      <% if (locals.errors && errors.gameDetails) { %>
        <label for="game-details" class="error-msg">Error: <%= errors.gameDetails %></label>
      <% }; %>
      <textarea
        id="game-details"
        name="gameDetails"
        placeholder="This game is awesome ..."
        rows="7"
        cols="15"
        class="<%= locals.errors && errors.gameDetails ? 'error' : ''; %>"
        required
      ><%= locals.fieldValues ? fieldValues.game.details : "" %></textarea>
    </p>
    <p>
      <label for="game-price">Price (Dollars USA): </label>
      <% if (locals.errors && errors.gamePrice) { %>
        <label for="game-price" class="error-msg">Error: <%= errors.gamePrice %></label>
      <% }; %>
      <input 
        type="number"
        step="0.01"
        id="game-price"
        name="gamePrice"
        placeholder="3.99"
        value="<%= locals.fieldValues ? fieldValues.game.price : ''; %>"
        class="<%= locals.errors && errors.gamePrice ? 'error' : ''; %>"
        required 
      />
    </p>
    <button class="form__btn-submit" type="submit"><%= locals.fieldValues ? "Done" : "Add Game"%></button>
  </form>
</section>
