<section class="developers">
  <!-- searchbar -->
  <% if (locals.search) { %>
    <%- include("./partials/searchbar.ejs") %>
  <% }; %>

  <h2 class="title title--primary"><%= title %></h2>

  <!-- search results message -->
  <% if (searchQuery) { %>
    <p class="searchbar__message">
    <% if (developers.length > 0) { %>
      Results for the search <span class="searchbar__message-quote">'<%= searchQuery %>'</span>
    <% } else { %>
      No results found for the search <span class="searchbar__message-quote">'<%= searchQuery %>'</span>
    <% }; %>
    </p>
  <% }; %>

  <% if (developers.length) { %>
    <ol class="developers__list">
      <% developers.forEach((developer) => { %>
        <li><a href="/developer/<%= developer.id %>"><%= developer.name %></a></li>
      <% }); %>
    </ol>
  <% } else { %>
    <p>No developers Found!</p>
    <p>
      Register a new one <a href="/new/developer">here</a>.
    </p>
  <% }; %>


  <!-- pagination -->
  <% if  (locals.pagination) { %>
    <%- include("./partials/pagination.ejs") %>
  <% }; %>
</section>
